
/*--------------------------HOME---------------------*/




/*-----------------------pc-----------------------*/


  
/*----------------------Navbar------------------------*/

.homecontainer{
  /* background-color: var(--color1); */
  background-image: url('../../assets/space4.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;  
  gap: 30px;
  animation: opacity 1s;
}

.nav-container {
  display: flex;
  flex: row;
}

.nav-name{
  margin-top: 20px;
  margin-left: 20px;
}

.nav-name>h2 {
  color: aliceblue;
  font-size: 4vh;
}

.nav-name>h2>b {
  color: tomato;
}

.nav-links {
  position:static;
  margin-left: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin-right: 30px;
  background-color: none;
  
}

.nav-links>a{
  color: aliceblue;
  text-decoration: none;
}

.nav-links>a:hover {
  color: grey;
}

.nav-label, .nav-input {
  display: none;
}
/*------------------------Body-------------------*/

.information {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text-animation {
  display: table;
  width: 100%;
}

.home-tittle{
  color: tomato;
  font-size: 5vh;
  animation: opacity 2s;
}

@keyframes opacity {

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

.home-text{
  margin-top: 60px;
  color: aliceblue;
  font-size: 8vh;
  position: relative;
  animation: maquina 2s infinite alternate;
  animation-timeline: 3s;
}

/* .home-text:after {
  content: "";
  border: 2px solid tomato;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: maquina 3s infinite alternate;
} */



@keyframes maquina {
  from {
    color: tomato;
    scale: 1.1;
  }
  to {
    color: aliceblue;
    scale: 1;
  }
}



/*--------------------------Home-contact--------------------------*/

.linkscontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
  animation: position  3s;
}

@keyframes position {
  from{
    bottom: 300px;
  }
  to{
    bottom: 20px;
  }
}

.contactme>h2{
  color: aliceblue;
  font-size: 25px;
}

.links-buttons {
  display: flex;
  flex-direction: row;
  gap: 100px;
  color: tomato;
}

.links-buttons>a {
  color: tomato;
}


.linkdin:hover{
  scale: 1.5;
  color: #0077B5;
}

.whatsapp:hover {
  scale: 1.5;
  color: #25D366;
}

/*-------------------------Mobile-------------------*/

@media  screen and (max-width: 700px) {
  


 
  
  
  /*-----------------------navbar-----------------------*/

  .nav-container {
    
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav-name>h2 {
    color: aliceblue;
    font-size: 60px;
  }
  
  .nav-name>h2>b {
    color: tomato;
  }
  
  .nav-label {
    color: aliceblue;
  }
  
  .bx-menu {
    color: aliceblue;
  }

  .bx-menu:hover {
    cursor: pointer;
    color: tomato;
  }
  
  .nav-input{
    display: none;
  }
  
  .nav-label {
    display: block;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    clip-path: circle(0% at center);
    transition: clip-path 1s ease-in-out;
    background-color: tomato;
    z-index: 1;
    padding: 30px;
  }

  .nav-menu {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    /* background-color: darkslategray;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
     */
  }


  .nav-input:checked + .nav-links {
    clip-path: circle(100% at center);
  
  } */
  
  /*-----------------------body-----------------------*/

  .homecontainer{
    background-color: var(--color1);
    width: 100%;
    height: 100vh; 
    background-image: url('../../assets/space4.jpg');
    background-size: cover;
    top: 0;
    margin: auto;
    gap: 20px;
    animation: opacity 1s;
  }
  
  
  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  
  }
  
  
  .text-animation {
    display: table;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .home-tittle{
    color: tomato;
    font-size: 5vh;
    animation: opacity 2s;
  }
  
  @keyframes opacity {
  
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
    
  }
  
  .home-text{
    margin-top: 60px;
    color: aliceblue;
    font-size: 7vh;
    position: relative;
    animation: maquina 2s infinite alternate;
    animation-timeline: 3s;
    text-align: center;
  }
  
  @keyframes maquina {
    from {
      color: tomato;
      scale: 1.1;
    }
    to {
      color: aliceblue;
      scale: 1;
    }
  }
  
  .linkscontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    animation: position  3s;
  }
  
  @keyframes position {
    from{
      bottom: 300px;
    }
    to{
      bottom: 20px;
    }
  }
  
  .contactme>h2{
    color: aliceblue;
    font-size: 25px;
  }
  
  .links-buttons {
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: tomato;
  }
  
  .links-buttons>a {
    color: tomato;
  }
  
  
  .linkdin:hover{
    scale: 1.5;
    color: #0077B5;
  }
  
  .whatsapp:hover {
    scale: 1.5;
    color: #25D366;
  }
  }