#root {
  
  --clippy:polygon(0 0, 0 1%, 0 100%, 0% 100%);


  /*--color1: rgb(41, 52, 98); 
  --color2: rgb(214, 28, 78);
  --color3: rgb(254, 177, 57);
  --color4: rgb(255, 248, 10); */

  /* --color1: rgb(18, 17, 17);
  --color2: grey; 
  --color3: rgb(173, 3, 3);
  --color4: white ;
   */

   /* --color1: #12090f;
   --color3: #122b47;
   --color4: #15618d;
   --color2: #209ad8;
   --color5: #20d4d8; */

    /* --color1: #000117;
   --color6: #13a8fe;
   --color5: #ff00ff;
   --color4: #f7f7f7;
   --color2: #1bb3dd;  */
 
  
}

* { 
  margin: 0;
  box-sizing: border-box;
}


@keyframes clippath 
{
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 0%, 0 0%);
  }  
  100% {
    clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
  }
}



@keyframes animation-Paragraph {
  0% {
     opacity: 0;
    }
  100%{
    opacity: 1
  }
};




@keyframes Photos {
  from  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

/*---------------------------Buttons---------------------------*/
/* 
.button-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  
}




.button-link::before{
  content: "";
  background-color: var(--color4);
  width: 400px;
  height: 400px;
  position: absolute;
  top: -400px;
  left: 0;
  transition: 1.5s;
  z-index: -1;
  border-radius: 0 0 300px 300px;
}

.button-link:hover::before {
  top: 0;
}


.back-button-container {
  height: 50px;
}

.back-button {
  background-color: var(--color4);
  
}

.bx-arrow-back {
  font-size: 50px;
} */








/*---------------------------CONTACT-------------------*/


/* .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color1);
  padding: 40px;
  gap: 30px;
}

.contact-container>h1 {
  color: var(--color6);
}

.contact-info {
  width: 90%;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.bxc {
  font-size: 30px;
  color: var(--color2);
}

.bxl-whatsapp {
  font-size: 60px;
  animation-name: animation-Paragraph;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.bxl-gmail{
  animation-name: animation-Paragraph;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bxl-gmail:hover {
  color: var(--color6);
  scale: 1.3;
}

.whatcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
}

.bxl-whatsapp:hover {
  color: var(--color6);
  scale: 1.3;
  
} */